<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content= "text/html"; charset=UTF-8" />
</head>
<body>
<p> Hello Vistula
</p>
<p>
    Lorem ispum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum dignissim malesuada.
</p>
<img src="https://storage-prtl-co.imgix.net/endor/organisations/1243/logos/1674121218_screenshot-2023-01-19-113942.v1.jpg"  width="600" height="600"/>

</body>
</html>